In [1]:
from AssignmentReader import readdoc
rd=readdoc("Programming_Assingment23.docx")

In [2]:
rd.read_with_h2()

<h2>Question 1</h2>
<h2>Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.</h2>
<h2>Examples</h2>
<h2>																is_symmetrical(7227) ➞ True</h2>
<h2>																</h2>
<h2>																is_symmetrical(12567) ➞ False</h2>
<h2>																</h2>
<h2>																is_symmetrical(44444444) ➞ True</h2>
<h2>																</h2>
<h2>																is_symmetrical(9939) ➞ False</h2>
<h2>																</h2>
<h2>																is_symmetrical(1112111) ➞ True</h2>
<h2></h2>
<h2>Question 2</h2>
<h2>Given a string of numbers separated by a comma and space, return the product of the numbers.</h2>
<h2>Examples</h2>
<h2>multiply_nums("2, 3") ➞ 6</h2>
<h2></h2>
<h2>multiply_nums("1, 2, 3, 4") ➞ 24</h2>
<h2></h2>
<h2>multiply_nums("54, 75, 453, 0") ➞ 0</h2>
<h2></h2>
<h2>multiply_nums("10, -2") ➞ -20</h2>
<h2></h2>
<h2>Question 3</h2>
<h2>Create a function that squares every digit of a number.</h2>
<h2>Examples</h2>
<h2>square_digits(9119) ➞ 811181</h2>
<h2></h2>
<h2>square_digits(2483) ➞ 416649</h2>
<h2></h2>
<h2>square_digits(3212) ➞ 9414</h2>
<h2>Notes</h2>
<h2>The function receives an integer and must return an integer.</h2>
<h2></h2>
<h2>Question 4</h2>
<h2>Create a function that sorts a list and removes all duplicate items from it.</h2>
<h2>Examples</h2>
<h2>setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]</h2>
<h2></h2>
<h2>setify([4, 4, 4, 4]) ➞ [4]</h2>
<h2></h2>
<h2>setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]</h2>
<h2></h2>
<h2>setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]</h2>
<h2></h2>
<h2>Question 5</h2>
<h2>Create a function that returns the mean of all digits.</h2>
<h2>Examples</h2>
<h2>mean(42) ➞ 3</h2>
<h2></h2>
<h2>mean(12345) ➞ 3</h2>
<h2></h2>
<h2>mean(666) ➞ 6</h2>
<h2>Notes</h2>
<h2>The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).</h2>
<h2>The mean will always be an integer.</h2>

<h2>Question 1</h2>
<h2>Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.</h2>
<h2>Examples</h2>
<h2>																is_symmetrical(7227) ➞ True</h2>

<h2>																is_symmetrical(12567) ➞ False</h2>

<h2>																is_symmetrical(44444444) ➞ True</h2>

<h2>																is_symmetrical(9939) ➞ False</h2>

<h2>																is_symmetrical(1112111) ➞ True</h2>

In [4]:
def is_symmetrical(num:int or str)->bool:
    """checks if given input is symmetrical"""
    return str(num) == str(num)[::-1]

In [5]:
is_symmetrical(7227)

True

In [6]:
is_symmetrical(12567)

False

In [7]:
is_symmetrical(9939)

False

In [8]:
is_symmetrical(44444444)

True

In [9]:
is_symmetrical(1112111)

True

<h2>Question 2</h2>
<h2>Given a string of numbers separated by a comma and space, return the product of the numbers.</h2>
<h2>Examples</h2>
<h2>multiply_nums("2, 3") ➞ 6</h2>
<h2>multiply_nums("1, 2, 3, 4") ➞ 24</h2>
<h2>multiply_nums("54, 75, 453, 0") ➞ 0</h2>
<h2>multiply_nums("10, -2") ➞ -20</h2>

In [19]:
def multiply_nums(nums:str)->int:
    """converting str to int and returns product """
    nums_list = map(int,nums.split(","))
    product = 1
    for num in nums_list:
        product *= num
    return product

In [20]:
multiply_nums("2, 3")

6

In [21]:
multiply_nums("1, 2, 3, 4")

24

In [22]:
multiply_nums("54, 75, 453, 0")

0

In [23]:
multiply_nums("10, -2")

-20

<h2>Question 3</h2>
<h2>Create a function that squares every digit of a number.</h2>
<h2>Examples</h2>
<h2>square_digits(9119) ➞ 811181</h2>
<h2>square_digits(2483) ➞ 416649</h2>
<h2>square_digits(3212) ➞ 9414</h2>
<h2>Notes</h2>
<h2>The function receives an integer and must return an integer.</h2>

In [25]:
def square_digits(num:int)->int:
    """squares each digit"""
    digits = [int(d) for d in str(num)]
    squared = ''.join(str(d ** 2) for d in digits)
    return int(squared)

In [26]:
square_digits(9119)

811181

In [27]:
square_digits(2483)

416649

In [28]:
square_digits(3212)

9414

<h2>Question 4</h2>
<h2>Create a function that sorts a list and removes all duplicate items from it.</h2>
<h2>Examples</h2>
<h2>setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]</h2>
<h2>setify([4, 4, 4, 4]) ➞ [4]</h2>
<h2>setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]</h2>
<h2>setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]</h2>

In [30]:
def setify(lst:list)->list:
    """sorts and removes duplicates"""
    return sorted(list(set(lst)))

In [31]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [32]:
setify([4, 4, 4, 4])

[4]

In [33]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [34]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

<h2>Question 5</h2>
<h2>Create a function that returns the mean of all digits.</h2>
<h2>Examples</h2>
<h2>mean(42) ➞ 3</h2>

<h2>mean(12345) ➞ 3</h2>
<h2>mean(666) ➞ 6</h2>
<h2>Notes</h2>
<h2>The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).</h2>
<h2>The mean will always be an integer.</h2

In [41]:
def mean(num:int)->int:
    """calculates mean of all digits"""
    temp=str(num)
    digits = map(int,temp)
    return sum(digits) // len(temp)

In [42]:
mean(42)

3

In [43]:
mean(12345)

3

In [44]:
mean(666)

6