<h2>1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.</h2>

In [1]:
test1='This is a test of the emergency text system,'
file=open("test.txt",'w')
file.write(test1)
file.close()

<h2>2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?</h2>

In [2]:
file=open("test.txt","r")
test2=file.read()
print(test1,test2)
test2==test1

This is a test of the emergency text system, This is a test of the emergency text system,

True

<h2>3. Create a CSV file called books.csv by using these lines:</h2>
<h2>title,author,year</h2>
<h2>The Weirdstone of Brisingamen,Alan Garner,1960</h2>
<h2>Perdido Street Station,China Miéville,2000</h2>
<h2>Thud!,Terry Pratchett,2005</h2>
<h2>The Spellman Files,Lisa Lutz,2007</h2>
<h2>Small Gods,Terry Pratchett,1992</h2>

In [3]:
import csv

data = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Miéville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992]
]
#write
with open("books.csv","w",newline="") as f:
    write=csv.writer(f)
    write.writerows(data)

<h2>4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).</h2>

In [4]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor=conn.cursor()
cursor.execute("create table books (title Text,author Text,year INT)")

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('books',)]

<h2>5. Read books.csv and insert its data into the book table.</h2>

In [6]:
#read
with open("books.csv", "r", newline="") as f:
    reader = csv.reader(f)
    # Loop over each row of data and print it
    flag=True #skipping the index line
    for row in reader:
        if not flag:
            print(row)
            cursor.execute(f"insert into books (title,author,year) values('{row[0]}','{row[1]}','{row[2]}')")
        flag=False

['The Weirdstone of Brisingamen', 'Alan Garner', '1960']
['Perdido Street Station', 'China Miéville', '2000']
['Thud!', 'Terry Pratchett', '2005']
['The Spellman Files', 'Lisa Lutz', '2007']
['Small Gods', 'Terry Pratchett', '1992']

In [7]:
cursor.execute("select * from books") 
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

<h2>6. Select and print the title column from the book table in alphabetical order.</h2>

In [8]:
cursor.execute("select * from books order by title") 
cursor.fetchall()

[('Perdido Street Station', 'China Miéville', 2000),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Thud!', 'Terry Pratchett', 2005)]

<h2>7. From the book table, select and print all columns in the order of publication.</h2>

In [9]:
cursor.execute("select * from books order by year") 
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

<h2>8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.</h2>

In [12]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")

rows=engine.execute("select * from books")
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

<h2>9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.</h2>

In [19]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

C:\Users\hp\AppData\Local\Temp\ipykernel_7968\19521559.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

<h2>10. Increment the count field of test and print it.</h2>

In [20]:
conn.hincrby('test','count', 3)

4