<h2>Question1</h2>
<h2>Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.</h2>
<h2>Examples</h2>
<h2>next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]</h2>
<h2>next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]</h2>
<h2>next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]</h2>
<h2>next_in_line([], 6) ➞ "No list has been selected"</h2>

In [13]:
def next_in_line(lst:list,integer:int)->list:
    #checks if list is empty and performs the operations
    if lst==[]:
        return "No list has been selected"
    lst.append(integer)
    lst.pop(0)
    return lst

In [14]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [15]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [16]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [17]:
next_in_line([], 6)

'No list has been selected'

<h2>Question2</h2>
<h2>Create the function that takes a list of dictionaries and returns the sum of people's budgets.</h2>
<h2>Examples</h2>
<h2>get_budgets([</h2>
<h2>  { "name": "John", "age": 21, "budget": 23000 },</h2>
<h2>  { "name": "Steve",  "age": 32, "budget": 40000 },</h2>
<h2>  { "name": "Martin",  "age": 16, "budget": 2700 }</h2>
<h2>]) ➞ 65700</h2>
<h2>get_budgets([</h2>
<h2>  { "name": "John",  "age": 21, "budget": 29000 },</h2>
<h2>  { "name": "Steve",  "age": 32, "budget": 32000 },</h2>
<h2>  { "name": "Martin",  "age": 16, "budget": 1600 }</h2>
<h2>]) ➞ 62600</h2>

In [23]:
def get_budgets(budget_list:list)->float:
    #loops through list gets budget key value sum it up
    count=0
    try:
        for i in budget_list:
            count+=i["budget"]
    except KeyError:
        print("No budget key found")
    return count

In [25]:
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
])

65700

In [26]:
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
])

62600

<h2>Question3</h2>
<h2>Create a function that takes a string and returns a string with its letters in alphabetical order.</h2>
<h2>Examples</h2>
<h2>alphabet_soup("hello") ➞ "ehllo"</h2>
<h2>alphabet_soup("edabit") ➞ "abdeit"</h2>
<h2>alphabet_soup("hacker") ➞ "acehkr"</h2>
<h2>alphabet_soup("geek") ➞ "eegk"</h2>
<h2>alphabet_soup("javascript") ➞ "aacijprstv"</h2>

In [48]:
def alphabet_soup(string:str)->str:
    #return sorted string of given string
    return "".join(sorted(string))

In [49]:
alphabet_soup("hello")

'ehllo'

In [50]:
alphabet_soup("edabit")

'abdeit'

In [51]:
alphabet_soup("hacker")

'acehkr'

In [52]:
alphabet_soup("geek")

'eegk'

In [53]:
alphabet_soup("javascript")

'aacijprstv'

<h2>Question4</h2>
<h2>Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?</h2>
<h2>Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.</h2>
<h2>For the example above:</h2>
<h2>compound_interest(10000, 10, 0.06, 12) ➞ 18193.97</h2>
<h2>Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.</h2>
<h2>Examples</h2>
<h2>compound_interest(100, 1, 0.05, 1) ➞ 105.0</h2>

<h2>compound_interest(3500, 15, 0.1, 4) ➞ 15399.26</h2>
<h2>compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26</h2>

In [77]:
def compound_interest(p:int , t:int, r:int, n:int)->float:
    #formula to calculate compound interest
    A = p * (1 + r/n) ** (n*t)
    return round(A, 2)

In [78]:
compound_interest(100, 1, 0.05, 1)

105.0

In [79]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [80]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

In [81]:
compound_interest(10000, 10, 0.06, 12)

18193.97

<h2>Question5</h2>
<h2>Write a function that takes a list of elements and returns only the integers.</h2>
<h2>Examples</h2>
<h2>return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]</h2>
<h2>return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]</h2>
<h2>return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]</h2>
<h2>return_only_integer(["String",  True,  3.3,  1]) ➞ [1]</h2>

In [83]:
def return_only_integer(list_integers:list)->list:
    #list comprehension , type() is used to filter out the values
    return [i for i in list_integers if type(i) == int]

In [84]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [85]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [86]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [75]:
return_only_integer(["String", True, 3.3, 1])

[1]