<h2>Question1</h2>
<h2>Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.</h2>
<h2>Examples</h2>
<h2>filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]</h2>
<h2>filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]</h2>
<h2>filter_list(["Nothing", "here"]) ➞ []</h2>

In [14]:
def filter_list(list_integers:list)->list:
    #using list compreshension
    return [i for i in list_integers if type(i) == int]

In [15]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [16]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [17]:
filter_list(["Nothing", "here"])

[]

<h2>Question2</h2>
<h2>Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...</h2>
<h2>Examples</h2>
<h2>add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]</h2>
<h2>add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]</h2>
<h2>add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]</h2>

In [50]:
def add_indexes(lst:list)->list:
    new_lst = []
    for i in range(len(lst)):
        new_lst.append(i + lst[i])
    return new_lst

In [51]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [52]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [53]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

<h2>Question3</h2>
<h2>Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.</h2>
<h2>Examples</h2>
<h2>cone_volume(3, 2) ➞ 12.57</h2>
<h2>cone_volume(15, 6) ➞ 565.49</h2>
<h2>cone_volume(18, 0) ➞ 0</h2>

In [58]:
import math
def cone_volume(h:float, r:float)->float:
    return round((1/3) * math.pi * r**2 * h, 2)

In [59]:
cone_volume(3, 2)

12.57

In [60]:
cone_volume(15, 6)

565.49

In [61]:
cone_volume(18, 0)

0.0

<h2>Question4</h2>
<h2>This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: </h2>
<h2>1, 3, 6, 10, 15</h2>
<h2>This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.</h2>
<h2>Write a function that gives the number of dots with its corresponding triangle number of the sequence.</h2>
<h2>Examples</h2>
<h2>triangle(1) ➞ 1</h2>

<h2>triangle(6) ➞ 21</h2>

<h2>triangle(215) ➞ 23220</h2>

In [62]:
def triangle(n:int)->int:
    return int((n*(n+1))/2)

In [63]:
triangle(1)

1

In [64]:
triangle(6)

21

In [65]:
triangle(215)

23220

<h2>Question5</h2>
<h2>Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.</h2>
<h2>Examples</h2>
<h2>missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5</h2>
<h2>missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10</h2>
<h2>missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7</h2>

In [66]:
def missing_num(lst:list)->int:
    for i in range(1,11):
        if i not in lst:
            return i

In [67]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [68]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [69]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7